#dashboard_view{

	margin-top:50px;

	.test_panel{
		display:none;
		h1{
			margin-bottom:0;
		}
		hr{
			margin: 10px 0;
			border-top:1px dashed;
			border-color:#292120;
		}

		ul{
			margin-bottom: 20px;
		}

		span{
			color:#930E00;
		}

		.btn{
			height: auto;
			border-radius:0;
		}

		table{
			background-color: #fff;
			th{
				background-color: #333;
				color: #fff;
				padding: 15px;
				text-align: center;
				border: 0;
			}
			tr > td:first-child{
				text-align: center;
			}
			td{
				padding: 10px;
			}
		}
	}

	

	.message{

		height:60px;
		color:#0f0f0f;
		background-color:rgba(255, 255, 255, 0.4);
		font-size: 40px;
		padding: 0 10px 0;

		span{
			color:#a53e1a;
		}
	}

	.white{
		background-color:#fff;

	}

	.brown{
		background-color:#E7E7E7;
	}

	.waitlist:hover{
		cursor:pointer;
		color:#BD2132;
	}

	.has_waitlist{
		opacity:0;
		transition: opacity 0.2s ease-out;
	}

	.has_waitlist.show{
		opacity:1;
	}

	.no_waitlist.show{
		opacity:1;
	}

	.has_waitlist.hide{
		display:none;
	}

	.no_waitlist.hide{
		display:none;
	}

	.no_waitlist{
		opacity:0;
		transition: opacity 0.2s ease-out;
		.col-sm-12{

			border:1px dashed #dedede;
		}

		a {
			line-height: 47px;
			padding: 0;
			margin: 10px;
			min-width: 150px;
			max-width: 100%;
			font-size: 20px;
		}
	}

	.list{

		.header{
			background-color: #fff;
			background-image: none;
			height: 50px;
			line-height: 60px;
			text-align: left;
			font-size: 30px;
		}

		.note{
			text-align: left;
			margin-bottom: 30px;
		}

		.course.head{
			background-color:#F5F0E7;
			font-size:20px;
			border:0;
		}
		
		.course{
			margin:0;
			padding: 10px 0;
			text-align:left;
			font-size:16px;
			line-height:20px;
		}
	}

	.searchbar{
		padding: 0;
		margin: 20px 0;
	}

	#term{
		height: 50px;
	}

	.btn-red{
		height: 50px;
		min-width: 100px;
		background-color: #930E00;
		color: #fff;
		min-width: 100%;
	}

	#toggle_testReset{
		margin-top: 10px;
	}

	.search_notfound{
		display:none;
	}

	.student-visible{
		display:none;
	}

	.locked, .before_date, .after_date{
		background-color: #efefef;
		border: 1px dashed #dedede;
	}

	.before_date, .after_date{
		display:none;
		min-height: 50px;
		padding-top: 13px;

		&.show{
			display:block;
		}
	}

	.course_type{
		display:inline-block;
	}

	.course_type:first-letter {
		text-transform:uppercase;
	}


}	