#waitlist_view{

	margin-top:50px;

	.container{
		height:100%;
		position:relative;
		min-height: 200px;
	}

	.container.students{
		text-align:right;
	}

	.white{
		background-color:#fff;

	}

	.brown{
		background-color:#E7E7E7;
	}

	.content_team{
		text-align: left;
		position: absolute;
		bottom: 20px;
	}

	.message{

		color:#0f0f0f;
		background-color:rgba(255, 255, 255, 0.4);
		font-size: 40px;
		padding: 10px;
		line-height: 40px;

		span{
			color:#930E00;
		}
	}

	h1{
		font-size:26px;
		text-align: left;
	}

	.btn{
		border-radius:0;
		min-width: 120px;
		line-height: 40px;
		padding: 0;
		margin-top: 20px;
		font-size:18px;
	}

	.btn-red{
		transition:all 0.2s ease-out;
		color:#fff;
		background-color:#930E00;	
		border-bottom:6px solid #930E00;
	}

	.btn-grey{
		transition:all 0.2s ease-out;
		background-color: #E7E7E7;
		min-width: 150px;
		color: #595959;
		border-bottom:6px solid #E7E7E7;
	}

	.btn-grey:hover{
		border-bottom:6px solid #dedede;
	}

	.btn-red:hover{
		border-bottom:6px solid #730b00;
	}

	.list{

		.course.head{
			background-color:#F5F0E7;
			font-size:20px;
			border: 1px solid #d4d4d4;
		}
		
		.course{
			background-color:#fff;
			padding: 10px 0;
			margin:0;
			text-align:left;
			font-size:16px;
			border: 1px solid #d4d4d4;
			border-top:0;

			.control{
				text-align: right;

				span{
					transition:all 0.2s ease-out;
					color:#930E00;
					margin:0 4px;
				}

				span:hover{
					cursor:pointer;
					color:#292120;
				}
			}
		}
	}

	.course_info{
		h1{
			font-size: 26px;
			text-align: left;
			margin-bottom: 0;
		}

		.locked {
			display:none;
			background-color: #efefef;
			border: 1px dashed #dedede;
			padding: 15px;
		}

		p{
			margin-top: 15px;
		}
	}

	.students, #subscribe_btn, #unsubscribe_btn{
		display:none;
	}

	#subscribe_btn, #unsubscribe_btn{
		position: absolute;
		right: 0;
		margin-right: 15px;
	}

	.empty{
		display:none;
		text-align: center;

		.col-sm-12{
			background-color:#fff;
			border:1px dashed #dedede;

			h2{
				font-size:24px;
				margin:30px 0 15px;
			}

			p{
				margin: 0 0 30px;
			}
		}
	}

	.advisor-visible, .scheduler-visible{
		display:none;
	}

	.course_type{
		display:inline-block;
	}

	.course_type:first-letter {
		text-transform:uppercase;
	}

}	