#waitlist_view {
  margin-top: 50px; }
  #waitlist_view .container {
    height: 100%;
    position: relative;
    min-height: 200px; }
  #waitlist_view .container.students {
    text-align: right; }
  #waitlist_view .white {
    background-color: #fff; }
  #waitlist_view .brown {
    background-color: #E7E7E7; }
  #waitlist_view .content_team {
    text-align: left;
    position: absolute;
    bottom: 20px; }
  #waitlist_view .message {
    color: #0f0f0f;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 40px;
    padding: 10px;
    line-height: 40px; }
    #waitlist_view .message span {
      color: #930E00; }
  #waitlist_view h1 {
    font-size: 26px;
    text-align: left; }
  #waitlist_view .btn {
    border-radius: 0;
    min-width: 120px;
    line-height: 40px;
    padding: 0;
    margin-top: 20px;
    font-size: 18px; }
  #waitlist_view .btn-red {
    transition: all 0.2s ease-out;
    color: #fff;
    background-color: #930E00;
    border-bottom: 6px solid #930E00; }
  #waitlist_view .btn-grey {
    transition: all 0.2s ease-out;
    background-color: #E7E7E7;
    min-width: 150px;
    color: #595959;
    border-bottom: 6px solid #E7E7E7; }
  #waitlist_view .btn-grey:hover {
    border-bottom: 6px solid #dedede; }
  #waitlist_view .btn-red:hover {
    border-bottom: 6px solid #730b00; }
  #waitlist_view .list .course.head {
    background-color: #F5F0E7;
    font-size: 20px;
    border: 1px solid #d4d4d4; }
  #waitlist_view .list .course {
    background-color: #fff;
    padding: 10px 0;
    margin: 0;
    text-align: left;
    font-size: 16px;
    border: 1px solid #d4d4d4;
    border-top: 0; }
    #waitlist_view .list .course .control {
      text-align: right; }
      #waitlist_view .list .course .control span {
        transition: all 0.2s ease-out;
        color: #930E00;
        margin: 0 4px; }
      #waitlist_view .list .course .control span:hover {
        cursor: pointer;
        color: #292120; }
  #waitlist_view .course_info h1 {
    font-size: 26px;
    text-align: left;
    margin-bottom: 0; }
  #waitlist_view .course_info .locked {
    display: none;
    background-color: #efefef;
    border: 1px dashed #dedede;
    padding: 15px; }
  #waitlist_view .course_info p {
    margin-top: 15px; }
  #waitlist_view .students, #waitlist_view #subscribe_btn, #waitlist_view #unsubscribe_btn {
    display: none; }
  #waitlist_view #subscribe_btn, #waitlist_view #unsubscribe_btn {
    position: absolute;
    right: 0;
    margin-right: 15px; }
  #waitlist_view .empty {
    display: none;
    text-align: center; }
    #waitlist_view .empty .col-sm-12 {
      background-color: #fff;
      border: 1px dashed #dedede; }
      #waitlist_view .empty .col-sm-12 h2 {
        font-size: 24px;
        margin: 30px 0 15px; }
      #waitlist_view .empty .col-sm-12 p {
        margin: 0 0 30px; }
  #waitlist_view .advisor-visible, #waitlist_view .scheduler-visible {
    display: none; }

#navbar .navbar-red {
  background-color: #930E00; }
#navbar .navbar-red a {
  color: #fff; }
#navbar .nav > li > a:hover,
#navbar .nav > li > a:focus {
  text-decoration: none;
  background-color: #930E00; }

#navbar_index .navbar-red.red2 {
  background-color: rgba(255, 255, 255, 0); }
#navbar_index .navbar-red.red2 a {
  color: #fff; }
#navbar_index .navbar-red.red2.hasScrolled {
  background-color: #880D00; }
#navbar_index .nav > li > a:hover,
#navbar_index .nav > li > a:focus {
  text-decoration: none;
  color: #333;
  background-color: rgba(255, 255, 255, 0.5); }

#create_user {
  display: none; }

#accordion .panel-heading {
  background-color: #930E00; }
  #accordion .panel-heading span.rotated {
    transition: 0.25s ease;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg); }
  #accordion .panel-heading a {
    color: #fff;
    font-size: 30px; }
#accordion .panel-body {
  margin: 0;
  padding: 0; }
  #accordion .panel-body h3 {
    font-size: 20px;
    margin: 10px; }
  #accordion .panel-body hr.dotted {
    border-style: dotted;
    border-color: #930E00; }
  #accordion .panel-body .col-lg-12 {
    padding: 20px; }

#login_view #bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%; }
#login_view #bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%; }
#login_view a {
  color: #BD2132; }
#login_view a:hover {
  color: #9d1120; }
#login_view #loginbox {
  position: relative;
  /* background-color: #fff; */
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 50px;
  border: 2px solid #fff; }
#login_view .btn-login {
  color: #fff;
  background-color: #BD2132; }
#login_view .btn-login:hover {
  color: #fff;
  background-color: #9d1120; }

#form_view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("../img/mainbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* bottom: 0; */ }
  #form_view #bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%; }
  #form_view #bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%; }
  #form_view a {
    color: #BD2132; }
  #form_view a:hover {
    color: #9d1120; }
  #form_view hr {
    border-color: #333; }
  #form_view #loginbox {
    position: relative;
    /* background-color: #fff; */
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 50px;
    border: 2px solid #fff; }
  #form_view .btn-red {
    color: #fff;
    background-color: #BD2132; }
  #form_view .btn-red:hover {
    color: #fff;
    background-color: #9d1120; }
  #form_view .main_form {
    margin-top: 100px;
    margin-bottom: 50px; }
    #form_view .main_form .col-sm-8 {
      background-color: rgba(255, 255, 255, 0.65);
      padding: 15px 30px; }

#about_view .header h1 {
  margin: 264px auto 0;
  text-align: center;
  background-color: #292120;
  max-width: 260px;
  line-height: 70px; }
#about_view .header .content_team {
  position: relative; }
#about_view .header .container {
  height: 100%; }
#about_view hr {
  border-top: 1px dashed;
  border-color: #292120; }
#about_view p {
  margin-bottom: 80px; }
#about_view .btn {
  border-radius: 0;
  min-width: 180px;
  line-height: 40px;
  margin-top: 20px;
  font-size: 18px; }
#about_view .btn-red {
  transition: all 0.2s ease-out;
  color: #fff;
  background-color: #930E00;
  border-bottom: 6px solid #930E00; }
#about_view .btn-red {
  color: #fff; }

#dashboard_view {
  margin-top: 50px; }
  #dashboard_view .test_panel h1 {
    margin-bottom: 0; }
  #dashboard_view .test_panel hr {
    margin: 10px 0;
    border-top: 1px dashed;
    border-color: #292120; }
  #dashboard_view .test_panel ul {
    margin-bottom: 20px; }
  #dashboard_view .test_panel span {
    color: #930E00; }
  #dashboard_view .test_panel .btn {
    height: auto;
    border-radius: 0; }
  #dashboard_view .test_panel table {
    background-color: #fff; }
    #dashboard_view .test_panel table th {
      background-color: #333;
      color: #fff;
      padding: 15px;
      text-align: center;
      border: 0; }
    #dashboard_view .test_panel table tr > td:first-child {
      text-align: center; }
    #dashboard_view .test_panel table td {
      padding: 10px; }
  #dashboard_view .message {
    height: 60px;
    color: #0f0f0f;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 40px;
    padding: 0 10px 0; }
    #dashboard_view .message span {
      color: #a53e1a; }
  #dashboard_view .white {
    background-color: #fff; }
  #dashboard_view .brown {
    background-color: #E7E7E7; }
  #dashboard_view .waitlist:hover {
    cursor: pointer;
    color: #BD2132; }
  #dashboard_view .has_waitlist {
    opacity: 0;
    transition: opacity 0.2s ease-out; }
  #dashboard_view .has_waitlist.show {
    opacity: 1; }
  #dashboard_view .no_waitlist.show {
    opacity: 1; }
  #dashboard_view .has_waitlist.hide {
    display: none; }
  #dashboard_view .no_waitlist.hide {
    display: none; }
  #dashboard_view .no_waitlist {
    opacity: 0;
    transition: opacity 0.2s ease-out; }
    #dashboard_view .no_waitlist .col-sm-12 {
      border: 1px dashed #dedede; }
    #dashboard_view .no_waitlist a {
      line-height: 47px;
      padding: 0;
      margin: 10px;
      min-width: 150px;
      max-width: 100%;
      font-size: 20px; }
  #dashboard_view .list .header {
    background-color: #fff;
    background-image: none;
    height: 60px;
    line-height: 60px;
    text-align: left;
    font-size: 30px; }
  #dashboard_view .list .course.head {
    background-color: #F5F0E7;
    font-size: 20px;
    border: 0; }
  #dashboard_view .list .course {
    margin: 0;
    padding: 10px 0;
    text-align: left;
    font-size: 16px;
    line-height: 20px; }
  #dashboard_view .searchbar {
    padding: 0;
    margin: 20px 0; }
  #dashboard_view #term {
    height: 50px; }
  #dashboard_view .btn-red {
    height: 50px;
    min-width: 100px;
    background-color: #930E00;
    color: #fff; }
  #dashboard_view .search_notfound {
    display: none; }
  #dashboard_view .student-visible {
    display: none; }
  #dashboard_view .locked, #dashboard_view .before_date, #dashboard_view .after_date {
    background-color: #efefef;
    border: 1px dashed #dedede; }
  #dashboard_view .before_date, #dashboard_view .after_date {
    display: none;
    min-height: 50px;
    padding-top: 13px; }
    #dashboard_view .before_date.show, #dashboard_view .after_date.show {
      display: block; }

#footer_view ul {
  padding: 0;
  margin: 0; }
#footer_view li {
  list-style: none;
  margin: 0;
  padding: 0 10px;
  display: block;
  border-bottom: 1px solid #4F4241;
  transition: all 0.2s ease-out;
  border-left: 10px solid #292120; }
  #footer_view li a {
    line-height: 40px;
    color: #EFEBE2;
    width: 100%;
    height: 100%;
    display: block; }
  #footer_view li a:hover, #footer_view li a:visited, #footer_view li a:active {
    text-decoration: none; }
#footer_view li:hover {
  cursor: pointer;
  border-left: 10px solid #4F4241; }

body {
  font-family: 'Maven Pro', sans-serif;
  font-size: 15px; }

a {
  color: #9C1100; }

a:hover, a:focus, a:active {
  color: #000; }

h5 {
  margin-top: 0;
  color: #880D00; }

.header {
  background-color: #930E00;
  background-image: url("../img/mainbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 530px; }

.header-team {
  height: 300px; }

.header .content {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  margin-top: 160px;
  text-align: center; }

.header .content_team {
  margin-left: 0;
  margin-top: 200px;
  text-align: left; }

.header h1 {
  font-size: 50px;
  color: #fff; }

.header p {
  font-size: 22px;
  color: #000;
  margin-bottom: 20px; }

.btn-custom {
  padding-top: 10px;
  background-color: #E3D1BC;
  border-radius: 0;
  width: 180px;
  height: 50px;
  border-bottom: 5px solid #CFBCA5;
  color: #48403E;
  font-size: 18px;
  margin: 5px; }

.btn-custom:hover, .btn-custom:focus {
  cursor: pointer;
  background-color: #d6c5b0;
  border-bottom: 5px solid #bdaa93; }

.btn-custom2 {
  padding-top: 10px;
  background-color: none;
  border-radius: 0;
  width: 180px;
  height: 50px;
  color: #fff;
  font-size: 18px;
  margin: 5px;
  border: 2px solid #fff; }

.btn-custom2:hover, .btn-custom2:focus {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #fff; }

.wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 180px; }

footer {
  background-color: #292120;
  min-height: 150px;
  padding: 50px 0;
  color: #EFEBE2; }

.withbg {
  background-image: url(../img/red_bg2.png);
  background-repeat: repeat; }

.img_resized {
  height: 100px;
  width: auto;
  border: 1px solid #ddd; }

.img_resized_2 {
  height: 350px;
  width: auto;
  border: 1px solid #ddd; }

.mitigation {
  color: #930E00;
  font-style: italic; }

.one-edge-shadow {
  -webkit-box-shadow: 1px 7px 50px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 7px 50px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 7px 50px -4px rgba(0, 0, 0, 0.75); }

.LV_validation_message {
  font-weight: bold;
  margin: 0 0 0 5px; }

.LV_valid {
  color: #767A1D; }

.LV_invalid {
  color: #CC0000; }

.LV_valid_field,
input.LV_valid_field:hover,
input.LV_valid_field:active,
textarea.LV_valid_field:hover,
textarea.LV_valid_field:active {
  border: 1px solid #767A1D; }

.LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active {
  border: 1px solid #CC0000; }
