<!-- Header ================================================== -->
<div class="header one-edge-shadow">
	<div class="container">
		<div class="content">
			<img src="img/logo/logo_r_300.png"><br>
      <p>Good things come to those who wait</p>
			<a href="#learnmore" class="btn btn-custom2">Learn More</a>
		</div>
	</div>
</div>

<div id="learnmore"class="wrapper" style="background-color:#F6F6F6;text-align:center;padding-top:50px;border-bottom:1px solid #d4d4d4">
  <div class="container">
  	<h3>The current class enrollment system is insufficient for handling course overflows.</h3>
  </div>
</div>

    
<div class="wrapper" style="background-color:#fff;padding-top:50px;text-align:center;border-bottom:1px solid #d4d4d4">
  <div class="container">
    <!-- Three columns of text below the header -->
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <img src="img/icons/confusion.png">
        <h2>Confusing</h2>
          <p>Emailing back and forth between the teacher and student can be exhausting and complicated for both parties. Let CORSICA do the dirty work for you!</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 col-md-4">
        <img src="img/icons/clock.png">
        <h2>Time Consuming</h2>
          <p>
            The time waiting for the class to be opened or the time waiting for the response from the staff can be reduced with CORSICA's wait-list system!
          </p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4  col-md-4">
        <img src="img/icons/inefficient.png">
        <h2>Inefficient</h2>
        <p>Current wait-list system allows students who are not on the wailist to register into the course. CORSICA's automatic wait-list management system can fix this problem!</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>
</div>


<div class="wrapper withbg" style="padding-top:50px;text-align:center;border-bottom:1px solid #d4d4d4;color:#fff;">
  <div class="container">
  	<h1>Our Mission</h1>
  </div>
</div>

<div id="learnmore"class="wrapper" style="background-color:#F6F6F6;padding-top:50px;border-bottom:1px solid #d4d4d4">
  <div class="container">
    <div style="text-align:center">
      <img src="img/icons/waitline.png"> <img src="img/icons/waitlist.png">
    </div><br>
      <p>CORSICA is a wait-list management system currently being developed by Old Dominion University's CS411 Red Team. We aim to improve the current CS department's wait-list. CORSICA will provide students and faculty with a friendly web interface which will communicate with the school's central scheduling database. In place of a manual list being keep by advisors, CORSICA will add student to the course's wait-list.</p><br>
      <p>The process is simple. Once the student register with our softwareg, CORSICA will keep track of the list and immediately notify the student once a seat becomes available (via email and text messege, if the student registered their phone number with us). The student will have 24 hours to respond. We believe that this will make the registration process easier for both students and faculty and hope to expand the software throughout the university.</p>
  </div>
</div>

<div class="wrapper withbg" style="background-color:#930E00;padding-top:50px;text-align:center;border-bottom:1px solid #d4d4d4;color:#fff;">
  <div class="container">
  	<h2>For more information on this project</h2><br>
  	<a href="overview.html" class="btn btn-custom">Overview</a> <a href="deliverables.html" class="btn btn-custom">Deliverables</a> <a href="team.html" class="btn btn-custom">About Us</a>
  </div>
</div>


