#accordion{

	.panel-heading{

		background-color:#930E00;

		span.rotated{
			transition: 0.25s ease;
			-webkit-transform: rotate(-90deg);
			-moz-transform: rotate(-90deg);
		}

		a{
			color:#fff;
			font-size:30px;
		}
	}

	.panel-body{
		margin:0;
		padding:0;

		h3{
			font-size:20px;
			margin:10px;
		}
		hr.dotted{
			border-style:dotted;
			border-color:#930E00;
		}

		.col-lg-12{
			padding:20px;
		}
	}
}