<div id="dashboard_view">

  <!-- Header ================================================== -->
  <div class="header header-team">
    <div class="container">
      <div class="content_team">
        <div class="message">Hello, <span class="username">[FIRSTNAME LASTNAME]</span></div>
      </div>
    </div>
  </div>

  <div class="list wrapper" style="background-color:#fff;padding-top:50px;text-align:center;border-bottom:1px solid #d4d4d4">
    <div class="container">
      <!-- Three columns of text below the header -->
      <div class="row">
        <div class="col-sm-12">
          <div class="has_waitlist">

            <div class="header">Computer Science: Fall 2014 Wait-Lists</div>

            <div class="course head row">
              <div class="course_name_header col-sm-5">Course</div>
              <div class="course_crn col-sm-1">CRN</div>
              <div class="course_instructor col-sm-3">Instructor</div>
              <div class="course_stats col-sm-2">Status</div>
            </div>

            <div id="course_list">
            </div>

          </div>

          <div class="no_waitlist">
            <div class="col-sm-12">
              <h2>Hi there, <span class="firstname"></span></h2>
              <p>It doesn't look like you queued yourself into any wait-list yet.<br>
                Start by searching for a class!<br><a class="btn btn-red">Search</a></p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
