<div id="dashboard_view">

  <!-- Header ================================================== -->
  <div class="header header-team">
    <div class="container">
      <div class="content_team">
        <div class="message">Hello, <span class="username"></span></div>
      </div>
    </div>
  </div>

  <div class="list wrapper brown test_panel" style="padding-top:25px;border-bottom:1px solid #d4d4d4;border-top:1px solid #d4d4d4">
    <div class="container">

      <div class="row">
        <div class="col-sm-12">

          <h1>Test Harness</h1>
          <hr>
          <p><span class="glyphicon glyphicon-exclamation-sign"></span> This is only visible for the notification function testing. The final product will not display this panel.</p>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Case</th>
                <th>Test</th>
                <th>Expected Result</th>
                <th>Toggle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>File dated November 9th (before registration)</td>
                <td>Locks all classes and displays a message</td>
                <td><div class="btn btn-red" id="toggle_test1">Toggle Case 1</div></td>
              </tr>
              <tr>
                <td>2</td>
                <td>File dated January 21st (after registration)</td>
                <td>Locks all classes and displays a message</td>
                <td><div class="btn btn-red" id="toggle_test2">Toggle Case 2</div></td>
              </tr>
              <tr>
                <td>3</td>
                <td>File dated in between 1 and 2, with some classes full and some classes not full [default]</td>
                <td>Unlocks all classes</td>
                <td><div class="btn btn-red" id="toggle_test3">Toggle Case 3</div></td>
              </tr>
              <tr>
                <td>4</td>
                <td>File dated in between 1 and 2, with some of the classes that were full [13418] -> no longer full (notification) and some classes that were not full [17388], full (open wait-list)</td>
                <td>Send appropriate notification to students</td>
                <td><div class="btn btn-red" id="toggle_test4">Toggle Case 4</div></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>

  <div class="list wrapper white" style="padding-top:50px;text-align:center;border-bottom:1px solid #d4d4d4">
    <div class="container">
      <!-- Three columns of text below the header -->
      <div class="row">
        <div class="col-sm-12">

          <div class="before_date"><span class="glyphicon glyphicon-exclamation-sign"></span> Please come back on November November 9th when the classes are open for registration!</div>

          <div class="after_date"><span class="glyphicon glyphicon-exclamation-sign"></span> It is currenly passed the registration period. You can no longer wait-list for a class! </div>

          <div class="has_waitlist">

            <div class="header">Computer Science: Fall 2014 Wait-Lists</div>

            <div class="course head row">
              <div class="course_name_header col-sm-5">Course</div>
              <div class="course_crn col-sm-1">CRN</div>
              <div class="course_instructor col-sm-3">Instructor</div>
              <div class="course_stats col-sm-2">Status</div>
              <div class="course_stats col-sm-1 student-visible">#</div>
            </div>

            <div id="course_list">
            </div>

          </div>

          <div class="no_waitlist">
            <div class="col-sm-12">
              <h2>Hi there, <span class="firstname"></span></h2>
              <p>It doesn't look like you queued yourself into any wait-list yet.<br>
                Start by searching for a class!<br><a href="/search" class="btn btn-red"><span class="glyphicon glyphicon-search"></span> Search</a></p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
