<div id="waitlist_view">

	<!-- Header ================================================== -->
	<div class="header header-team">
		<div class="container">
			<div class="content_team">
			<div class="message">Fall 2014: <span class="coursename"><%= data.courseNum%> <%= data.listing.title %></span></div>
			</div>
		</div>
	</div>

	<div class="wrapper white" style="padding-top:50px">
		<div class="container">
			<h1>Information:</h1>
			<p><b>Time</b>: <%= data.time%> <br><b>Location</b>: <%= data.location%></p>
			<p><%= data.note%></p>
			<p><%= data.listing.description%></p>
		</div>
	</div>

	<div class="list wrapper" style="padding-top:0px;text-align:center;border-bottom:1px solid #d4d4d4">
		<div class="container">
		  	<!-- Three columns of text below the header -->
		  	<div class="row">
		        <div class="col-sm-12">
		          <div class="course head row">
		            <div class="course_name_header col-sm-4">Course</div>
		            <div class="course_crn col-sm-1">CRN</div>
		            <div class="course_instructor col-sm-2">Instructor</div>
		            <div class="course_stats col-sm-4">Status</div>
		          </div>
		        </div>
			</div>

			<div class="row">
		        <div class="col-sm-12">
					<div class="course row">
						<div class="col-sm-4 waitlist" data-id="<%=data.id%>">
							<span class="course_num"><%= data.courseNum %>: </span>
							<span class="course_name"><%= data.listing.title %></span>
						</div>
						<div class="col-sm-1"><span class="course_crn"><%= data.crn %></span></div>
						<div class="col-sm-2"><span class="course_instructor"><%= data.i_user %></span></div>
						<div class="col-sm-4"><span class="course_stat"><%= data.capacity %></span></div>
						<div class="col-sm-1 control"><span class="glyphicon glyphicon-remove"></span></div>
						</div>
					</div>
			</div>

		</div>
	</div>

	<div class="list wrapper brown" style="padding-top:50px;">
		<div class="container students">
			<h1>Current Waitlist:</h1>
		  	<!-- Three columns of text below the header -->
		  	<div class="row">
		        <div class="col-sm-12">
		          <div class="course head row">
		            <div class="course_name_header col-sm-4">Student</div>
		            <div class="course_instructor col-sm-3">Email</div>
		            <div class="course_stats col-sm-4">Phone #</div>
		          </div>
		        </div>
			</div>

			<div class="students_list">

				<div class="course row col-sm-12">
					<div class="col-sm-4 waitlist" data-id="<%=data.id%>">
						<span class="studen_name">Spongebob Squarepants</span>
					</div>
					<div class="col-sm-3"><span class="student_email">square@pants.com</span></div>
					<div class="col-sm-3"><span class="student_phone">757.773.9438</span></div>
					<div class="col-sm-2 control"><span class="glyphicon glyphicon-chevron-up"></span> <span class="glyphicon glyphicon-chevron-down"></span> <span class="glyphicon glyphicon-remove"></span></div>
				</div>

				<div class="course row col-sm-12">
					<div class="col-sm-4 waitlist" data-id="<%=data.id%>">
						<span class="studen_name">Squidward Tentacles</span>
					</div>
					<div class="col-sm-3"><span class="student_email">squid@music.com</span></div>
					<div class="col-sm-3"><span class="student_phone">757.773.9438</span></div>
					<div class="col-sm-2 control"><span class="glyphicon glyphicon-chevron-up"></span> <span class="glyphicon glyphicon-chevron-down"></span> <span class="glyphicon glyphicon-remove"></span></div>
				</div>

				<div class="course row col-sm-12">
					<div class="col-sm-4 waitlist" data-id="<%=data.id%>">
						<span class="studen_name">Patrick Star</span>
					</div>
					<div class="col-sm-3"><span class="student_email">pat@rick.com</span></div>
					<div class="col-sm-3"><span class="student_phone">---</span></div>
					<div class="col-sm-2 control"><span class="glyphicon glyphicon-chevron-up"></span> <span class="glyphicon glyphicon-chevron-down"></span> <span class="glyphicon glyphicon-remove"></span></div>
				</div>

				<div class="course row col-sm-12">
					<div class="col-sm-4 waitlist" data-id="<%=data.id%>">
						<span class="studen_name">Eugene Crab</span>
					</div>
					<div class="col-sm-3"><span class="student_email">moneyty@money.com</span></div>
					<div class="col-sm-3"><span class="student_phone">757.773.9438</span></div>
					<div class="col-sm-2 control"><span class="glyphicon glyphicon-chevron-up"></span> <span class="glyphicon glyphicon-chevron-down"></span> <span class="glyphicon glyphicon-remove"></span></div>
				</div>

				<div class="course row col-sm-12">
					<div class="col-sm-4 waitlist" data-id="<%=data.id%>">
						<span class="studen_name">Plankton ??</span>
					</div>
					<div class="col-sm-3"><span class="student_email">evil@mastermind.com</span></div>
					<div class="col-sm-3"><span class="student_phone">---</span></div>
					<div class="col-sm-2 control"><span class="glyphicon glyphicon-chevron-up"></span> <span class="glyphicon glyphicon-chevron-down"></span> <span class="glyphicon glyphicon-remove"></span></div>
				</div>

			</div>

			<div class="btn btn-red">Save</div>
		</div> <!-- container -->
	</div>

</div>
