<div id="waitlist_view">

	<!-- Header ================================================== -->
	<div class="header header-team">
		<div class="container">
			<div class="content_team">
			<div class="message">Spring 2015: <span class="coursename"><%= data.courseNum%> <%= data.listing.title %></span></div>
			</div>
		</div>
	</div>

	<div class="wrapper white course_info" style="padding-top:50px">
		<div class="container">
			<div class="locked"><span class="glyphicon glyphicon-exclamation-sign"></span> This class is currently hidden from students</div>
			<h1>Information:</h1>
			<p><b>Time</b>: <%= data.time%> <br><b>Location</b>: <%= data.location%></p>
			<p><%= data.note%></p>
			<p><%= data.listing.description%></p>
		</div>
	</div>

	<div class="list wrapper" style="padding-top:0px;text-align:center;border-bottom:1px solid #d4d4d4">
		<div class="container">
		  	<!-- Three columns of text below the header -->
		  	<div class="row">
		        <div class="col-sm-12">
		          <div class="course head row">
		            <div class="course_name_header col-sm-4">Course</div>
  					<div class="course_type col-sm-1">Type</div>
		            <div class="course_crn col-sm-1">CRN</div>
		            <div class="course_instructor col-sm-3">Instructor</div>
		            <div class="course_stats col-sm-2">Total</div>
		            <div class="course_stats col-sm-1 student-visible">#</div>
		          </div>
		        </div>
			</div>

			<div class="row">
		        <div class="col-sm-12">
					<div class="course row">
						<div class="col-sm-4 waitlist" data-id="<%=data.id%>">
							<span class="course_num"><%= data.courseNum %>: </span>
							<span class="course_name"><%= data.listing.title %></span>
						</div>
						<div class="col-sm-1"><span class="course_type"><%= data.type %></span></div>
						<div class="col-sm-1"><span class="course_crn"><%= data.crn %></span></div>
						<div class="col-sm-3"><span class="course_instructor"><%= data.i_user %></span></div>
						<div class="col-sm-2"><span class="course_stat"><%= data.subscribed_num %></span></div>
						<div class="course_stats col-sm-1 student-visible"><%= data.current_num %></div>
						<div class="col-sm-1 control"><span class="glyphicon glyphicon-remove scheduler-visible" data-id="<%= data.id%>"></span><span class="glyphicon glyphicon-plus scheduler-visible" data-id="<%= data.id%>"></span></div>
					</div>
				</div>

			</div>

			<div class="row linked_container">
		        <div class="col-sm-4">
		          <div class="course head row">
		            <div class="col-sm-12">Linked Lectures</div>
		          </div>
		          <div class="course row">
		          	<div class="col-sm-12 linked_lectures">
		          	</div>
		          </div>
		        </div>

		        <div class="col-sm-4">
		          <div class="course head row">
		            <div class="col-sm-12">Linked Laboratories</div>
		          </div>
		          <div class="course row">
		          	<div class="col-sm-12 linked_labs">
		          	</div>
		          </div>
		        </div>

		        <div class="col-sm-4">
		          <div class="course head row">
		            <div class="col-sm-12">Linked Recitations</div>
		          </div>
		          <div class="course row">
		          	<div class="col-sm-12 linked_recs">
		          	</div>
		          </div>
		        </div>

			</div>


			<div class="btn btn-red" id="subscribe_btn">Queue</div>
			<div class="btn btn-grey" id="unsubscribe_btn">Unsubscribe</div>

		</div>
	</div>

	<div class="list wrapper brown" style="padding-top:50px;">

		<div class="container students">
			<h1>Current Waitlist:</h1>
		  	<!-- Three columns of text below the header -->
		  	<div class="row">
		        <div class="col-sm-12">
		          <div class="course head row">
		          	<div class="course_index_header col-sm-1"></div>
		            <div class="course_name_header col-sm-4">Student</div>
		            <div class="course_instructor col-sm-3">Email</div>
		            <div class="course_stats col-sm-2">Phone #</div>
		          </div>
		        </div>
			</div>

			<div class="students_list">

				<% data.subscribers.forEach(function(student, i) { %>
					<div class="course row col-sm-12 student_waitlist" student-id="<%=student.email%>">
						<div class="col-sm-1"><%= i + 1 %></div>
						<div class="col-sm-4 waitlist">
							<span class="studen_name"><%= student.firstName%> <%= student.lastName%></span>
						</div>
						<div class="col-sm-3"><span class="student_email"><%= student.email%></span></div>
						<div class="col-sm-2"><span class="student_phone"><%= student.phoneNumber%></span></div>
						<div class="col-sm-2 control"><span class="glyphicon glyphicon-chevron-up advisor-visible"></span> <span class="glyphicon glyphicon-chevron-down advisor-visible"></span> <span class="glyphicon glyphicon-remove advisor-visible"></span></div>
					</div>
				<% }); %>


			</div>

			<div class="btn btn-red" id="subscribers_save">Save</div>
		</div> <!-- container student -->

		<div class="container empty">
			<div class="row">
				<div class="col-sm-12">
	              <h2>Empty Waitlist!</h2>
	              <p>It doesn't look like there's any student queued for this wait-list.</p>
	            </div>
	        </div>
		</div> <!-- container empty -->

	</div>

</div>
