<div id="dashboard_view">

  <!-- Header ================================================== -->
  <div class="header header-team">
    <div class="container">
      <div class="content_team">
        <div class="message">Hello, <span class="username">[FIRSTNAME LASTNAME]</span> !</div>
      </div>
    </div>
  </div>

  <div class="list wrapper" style="background-color:#fff;padding-top:50px;text-align:center;border-bottom:1px solid #d4d4d4">
    <div class="container">
      <!-- Three columns of text below the header -->
      <div class="row">
        <div class="col-sm-12">
          <div class="header">Computer Science: [SEMESTER] Wait-Lists</div>
             <div class="col-lg-offset-4 col-lg-6 col-lg-offset-4">
                <div class="input-group">
                  <input type="text" class="form-control" id="term">
                  <span class="input-group-btn">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">CRN <span class="caret" id="dropdown"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                      <li>CLASS</li>
                      <li>PROFESSOR</li>
                    </ul>
                    <button class="btn btn-default" type="button" id="search">Go!</button>
                  </span>
                </div><!-- /input-group -->
            </div><!-- /btn-group -->
        </div><!-- /.col-lg-6 -->
          <div id="course_list">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
