<div id="dashboard_view">

  <!-- Header ================================================== -->
  <div class="header header-team">
	<div class="container">
	  <div class="content_team">
		<div class="message">Hello, <span class="username">[FIRSTNAME LASTNAME]</span></div>
	  </div>
	</div>
  </div>



  <div class="list wrapper brown" style="padding:50px 0;text-align:left;border-bottom:1px solid #d4d4d4">
	<div class="container">
	  <!-- Three columns of text below the header -->
	  <div class="row">
		<div class="col-sm-12">

		  <h3>How to Search:</h3>
		  <p>You can search for a waitlist by entering CRN (12345), Course's Number (CS150), Instructor's Last Name (Brunelle), or a keyword (Introduction).</p>

		  <div class="searchbar col-sm-12">
			<div class="input-group">
			  <input type="text" class="form-control" id="term" value="" placeholder="Enter CRN, Course's Number, Instructor's Last Name, or a keyword (e.g. Introduction) ">
			  <div class="input-group-btn"><button class="btn btn-red" type="button" id="search">Go!</button></div><!-- /input-group -->
			</div><!-- /btn-group -->
		  </div><!-- /.col-lg-6 -->

		</div>
	  </div>
	</div>
  </div>

  <div class="list wrapper white" style="padding:50px 0;text-align:center;border-bottom:1px solid #d4d4d4">
	<div class="container">
	  <!-- Three columns of text below the header -->
	  <div class="row">
		<div class="col-sm-12">

			<div id="course_list"></div>

			<div class="search_notfound">
				<h2>Hi there, <span class="firstname"></span></h2>
				<p>We can't seem to find any entry that match your search term.<br>
					Make sure you have the correct information!</p>
			</div>

		</div>
	  </div>
	</div>
  </div>

</div>
