<div id="dashboard_view">

  <!-- Header ================================================== -->
  <div class="header header-team">
    <div class="container">
      <div class="content_team">
        <div class="message">Hello, <span class="username">[FIRSTNAME LASTNAME]</span> !</div>
      </div>
    </div>
  </div>
      
  <div class="list wrapper" style="background-color:#fff;padding-top:50px;text-align:center;border-bottom:1px solid #d4d4d4">
    <div class="container">
      <!-- Three columns of text below the header -->
      <div class="row">
        <div class="col-sm-12">
          <div class="header">Computer Science: [SEMESTER] Wait-Lists</div>

          <div class="course head row">
            <div class="course_name col-sm-5">Course</div>
            <div class="course_crn col-sm-1">CRN</div>
            <div class="course_instructor col-sm-3">Instructor</div>
            <div class="course_stats col-sm-3">Status</div>
          </div>

          <div id="course_list">

            <div class="course row">
              <div class="col-sm-5">
                <span class="course_num">CS120G</span>
                <span class="course_name">Introduction to Information Literacy and Research</span>
              </div>
              <div class="col-sm-1"><span class="course_crn">13411</span></div>
              <div class="col-sm-3"><span class="course_instructor">GUPTA, R</span></div>
              <div class="col-sm-3"><span class="course_stat">cap:70; enroll:70;avail:0</span></div>
            </div>

            <div class="course row">
              <div class="col-sm-5">
                <span class="course_num">CS120G</span>
                <span class="course_name">Introduction to Information Literacy and Research</span>
              </div>
              <div class="col-sm-1"><span class="course_crn">13411</span></div>
              <div class="col-sm-3"><span class="course_instructor">GUPTA, R</span></div>
              <div class="col-sm-3"><span class="course_stat">cap:70; enroll:70;avail:0</span></div>
            </div>

            <div class="course row">
              <div class="col-sm-5">
                <span class="course_num">CS120G</span>
                <span class="course_name">Introduction to Information Literacy and Research</span>
              </div>
              <div class="col-sm-1"><span class="course_crn">13411</span></div>
              <div class="col-sm-3"><span class="course_instructor">GUPTA, R</span></div>
              <div class="col-sm-3"><span class="course_stat">cap:70; enroll:70;avail:0</span></div>
            </div>

            <div class="course row">
              <div class="col-sm-5">
                <span class="course_num">CS120G</span>
                <span class="course_name">Introduction to Information Literacy and Research</span>
              </div>
              <div class="col-sm-1"><span class="course_crn">13411</span></div>
              <div class="col-sm-3"><span class="course_instructor">GUPTA, R</span></div>
              <div class="col-sm-3"><span class="course_stat">cap:70; enroll:70;avail:0</span></div>
            </div>

            <div class="course row">
              <div class="col-sm-5">
                <span class="course_num">CS120G</span>
                <span class="course_name">Introduction to Information Literacy and Research</span>
              </div>
              <div class="col-sm-1"><span class="course_crn">13411</span></div>
              <div class="col-sm-3"><span class="course_instructor">GUPTA, R</span></div>
              <div class="col-sm-3"><span class="course_stat">cap:70; enroll:70;avail:0</span></div>
            </div>

            <div class="course row">
              <div class="col-sm-5">
                <span class="course_num">CS120G</span>
                <span class="course_name">Introduction to Information Literacy and Research</span>
              </div>
              <div class="col-sm-1"><span class="course_crn">13411</span></div>
              <div class="col-sm-3"><span class="course_instructor">GUPTA, R</span></div>
              <div class="col-sm-3"><span class="course_stat">cap:70; enroll:70;avail:0</span></div>
            </div>

            <div class="course row">
              <div class="col-sm-5">
                <span class="course_num">CS120G</span>
                <span class="course_name">Introduction to Information Literacy and Research</span>
              </div>
              <div class="col-sm-1"><span class="course_crn">13411</span></div>
              <div class="col-sm-3"><span class="course_instructor">GUPTA, R</span></div>
              <div class="col-sm-3"><span class="course_stat">cap:70; enroll:70;avail:0</span></div>
            </div>

            <div class="course row">
              <div class="col-sm-5">
                <span class="course_num">CS120G</span>
                <span class="course_name">Introduction to Information Literacy and Research</span>
              </div>
              <div class="col-sm-1"><span class="course_crn">13411</span></div>
              <div class="col-sm-3"><span class="course_instructor">GUPTA, R</span></div>
              <div class="col-sm-3"><span class="course_stat">cap:70; enroll:70;avail:0</span></div>
            </div>

            <div class="course row">
              <div class="col-sm-5">
                <span class="course_num">CS120G</span>
                <span class="course_name">Introduction to Information Literacy and Research</span>
              </div>
              <div class="col-sm-1"><span class="course_crn">13411</span></div>
              <div class="col-sm-3"><span class="course_instructor">GUPTA, R</span></div>
              <div class="col-sm-3"><span class="course_stat">cap:70; enroll:70;avail:0</span></div>
            </div>

            <div class="course row">
              <div class="col-sm-5">
                <span class="course_num">CS120G</span>
                <span class="course_name">Introduction to Information Literacy and Research</span>
              </div>
              <div class="col-sm-1"><span class="course_crn">13411</span></div>
              <div class="col-sm-3"><span class="course_instructor">GUPTA, R</span></div>
              <div class="col-sm-3"><span class="course_stat">cap:70; enroll:70;avail:0</span></div>
            </div>

            <div class="course row">
              <div class="col-sm-5">
                <span class="course_num">CS120G</span>
                <span class="course_name">Introduction to Information Literacy and Research</span>
              </div>
              <div class="col-sm-1"><span class="course_crn">13411</span></div>
              <div class="col-sm-3"><span class="course_instructor">GUPTA, R</span></div>
              <div class="col-sm-3"><span class="course_stat">cap:70; enroll:70;avail:0</span></div>
            </div>

            <div class="course row">
              <div class="col-sm-5">
                <span class="course_num">CS120G</span>
                <span class="course_name">Introduction to Information Literacy and Research</span>
              </div>
              <div class="col-sm-1"><span class="course_crn">13411</span></div>
              <div class="col-sm-3"><span class="course_instructor">GUPTA, R</span></div>
              <div class="col-sm-3"><span class="course_stat">cap:70; enroll:70;avail:0</span></div>
            </div>

            <div class="course row">
              <div class="col-sm-5">
                <span class="course_num">CS120G</span>
                <span class="course_name">Introduction to Information Literacy and Research</span>
              </div>
              <div class="col-sm-1"><span class="course_crn">13411</span></div>
              <div class="col-sm-3"><span class="course_instructor">GUPTA, R</span></div>
              <div class="col-sm-3"><span class="course_stat">cap:70; enroll:70;avail:0</span></div>
            </div>

            <div class="course row">
              <div class="col-sm-5">
                <span class="course_num">CS120G</span>
                <span class="course_name">Introduction to Information Literacy and Research</span>
              </div>
              <div class="col-sm-1"><span class="course_crn">13411</span></div>
              <div class="col-sm-3"><span class="course_instructor">GUPTA, R</span></div>
              <div class="col-sm-3"><span class="course_stat">cap:70; enroll:70;avail:0</span></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>